{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>教师课程管理系统</title>
      <!-- 引入 Bootstrap -->
      <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static '/css/courseSystem.css'%}">
      <link rel="stylesheet" href="{% static '/css/courseDelete.css'%}">
      <link rel="shortcut icon" href="{% static '/img/favicon.ico'%}">
      <script src="{% static '/js/template-native.js'%}"></script>
</head>
<body>

  <div class="navigation">
    <ul>
      <li><a href="{% url 'courseselect:tea_courseAnnunciate' %}"><span class="navIcon" id="annunciate"></span><p>选课公告</p></a></li>
      <li><a href="{% url 'courseselect:tea_courseResult' %}"><span class="navIcon" id="result"></span><p>选课结果</p></a></li> 
      <li><a href="{% url 'courseselect:tea_courseScore' %}"><span class="navIcon" id="schedule"></span><p>成绩录入</p></a></li>
      <li><a class="active" href="{% url 'courseselect:tea_mySchedule' %}"><span class="navIcon" id="schedule"></span><p>我的课表</p></a></li>
    </ul>
  </div>
  <div class="contain">
    <header><h3>国科大网上选课系统</h3><span>欢迎：{{ name }}！ <a href="{% url 'courseselect:logout' %}"
                                                      class="safeExit">退出</a></span></header>
    <div class="main">
    <div id="div_print">
        <div class="white">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>星期一</th>
                        <th>星期二</th>
                        <th>星期三</th>
                        <th>星期四</th>
                        <th>星期五</th>
                        <th>星期六</th>
                        <th>星期日</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr name="point1">
                        <th>1～2节</th>
                    <td>
                        {% for c in courses %}
                        {% if c.weekdays == 1 and c.start_time == 1 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 2 and c.start_time == 1 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 3 and c.start_time == 1 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 4 and c.start_time == 1 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 5 and c.start_time == 1 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 6 and c.start_time == 1 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 7 and c.start_time == 1 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    </tr>
                    <tr name="point2">
                        <th>3~4节</th>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 1 and c.start_time == 3 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 2 and c.start_time == 3 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 3 and c.start_time == 3 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 4 and c.start_time == 3 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 5 and c.start_time == 3 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 6 and c.start_time == 3 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 7 and c.start_time == 3 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    </tr>
                    <tr>
                        <td colspan="8">午休</td>
                    </tr>
                    <tr name="point3">
                        <th>5~6节</th>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 1 and c.start_time == 5 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 2 and c.start_time == 5 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 3 and c.start_time == 5 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 4 and c.start_time == 5 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 5 and c.start_time == 5 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 6 and c.start_time == 5 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 7 and c.start_time == 5 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    </tr>
                    <tr name="point4">
                        <th>7~8节</th>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 1 and c.start_time == 7 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 2 and c.start_time == 7 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 3 and c.start_time == 7 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 4 and c.start_time == 7 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 5 and c.start_time == 7 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 6 and c.start_time == 7 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 7 and c.start_time == 7 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    </tr>
                    <tr>
                        <td colspan="8">晚饭</td>
                    </tr>
                    <tr name="point5">
                        <th>9~11节</th>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 1 and c.start_time == 9 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 2 and c.start_time == 9 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 3 and c.start_time == 9 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 4 and c.start_time == 9 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 5 and c.start_time == 9 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 6 and c.start_time == 9 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                        <td>
                        {% for c in courses %}
                        {% if c.weekdays == 7 and c.start_time == 9 %}
                        {{ c.name }}<br>第{{ c.start_time }}节-第{{ c.end_time }}节<br>第{{ c.start_week }}周-第{{ c.end_week }}周<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div><!-- white 结束 -->
    </div>
    <input name="b_print" type="button" class="ipt"   onClick="printdiv('div_print');" value=" 打印课表 ">
    </div><!-- main 结束 -->
</div><!-- contain 结束 -->
   <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
   <script src="{% static '/bootstrap/js/jquery-3.1.1.min.js'%}"></script>
   <!-- 包括所有已编译的插件 -->
   <script src="{% static '/bootstrap/js/bootstrap.min.js'%}"></script>
   <script src="{% static '/js/cookies.js'%}"></script>
   <script src="{% static '/js/teacher_mySchedule.js'%}"></script>
</body>
</html>