{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>国科大网上选课系统</title>
      <!-- 引入 Bootstrap -->
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <link rel="stylesheet" href="{% static 'css/courseSystem.css' %}">
      <link rel="stylesheet" href="{% static 'css/courseOnline.css' %}">
      <script src="{% static 'js/template-native.js' %}"></script>
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>

  <div class="navigation">
    <ul>
      <li><a href="{% url 'courseselect:stu_index' %}"><span class="navIcon" id="annunciate"></span><p>选课公告</p></a></li>
      <li><a class="active" href="{% url 'courseselect:select' %}"><span class="navIcon" id="online"></span><p>网上选课</p></a></li>
      <li><a  href="{% url 'courseselect:selected' %}"><span class="navIcon" id="result"></span><p>已选课程</p></a></li>
{#      {#      <li><a href="courseDelete.html"><span class="navIcon" id="delete"></span><p>退课</p></a></li>#}#}
      <li><a href="{% url 'courseselect:schedule' %}"><span class="navIcon" id="schedule"></span><p>我的课表</p></a></li>
      <li><a href="{% url 'courseselect:grade' %}"><span class="navIcon" id="ach"></span><p>查询成绩</p></a></li>
    </ul>
  </div>
  <div class="contain">
    <header><h3>国科大网上选课系统</h3><span>欢迎：{{ stu.name }}！ <a href="{% url 'courseselect:logout' %}" class="safeExit">退出</a></span></header>
    <div class="main">

      <div class="white">
      <div class="tab-content">
<div class="searchDiv" style="float:right">

          <form action="", method="post">
             {% csrf_token %}
              {{ form }}
            <input type="submit" value="搜索"  class="btn btn-success">
          </form>
        </div>
        <div class="searchDiv" ><label class="container"></label></div>
        <div id="part1" class="tab-pane fade in active">
          <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" 
                     href="#collapseOne">
                    <span class="glyphicon glyphicon-hand-right"></span> 课程列表
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div id="collapseOnePanel">
                  </div>
             <!-- script 代码添加 开始-->
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>学分</th>
                          <th>老师</th>
                          <th>上课地点</th>
                          <th>上课周数</th>
                          <th>上课节数</th>
                          <th>星期</th>
                          <th>已选人数</th>
                          <th>可选人数</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for c in courses %}
                        <tr>
                          <td>{{ c.c_id }}</td>
                          <td>{{ c.name }}</td>
                          <td>{{ c.credit }}</td>
                          <td>
                              {% for t in c.teacher.all %}
                                  {{ t.name }}
                              {% endfor %}
                          </td>
                          <td>{{ c.classroom }}</td>
                          <td>{{ c.start_week }}～{{ c.end_week }}周</td>
                          <td>第{{ c.get_num }}节</td>
                          <td>{{ c.get_weekday }}</td>
                          <td>{{ c.selected_now }}</td>
                          <td>{{ c.selected_limit }}</td>
                        <td><a href="{% url 'courseselect:getcourse' stu.s_id c.c_id %}"><b>添加</b></a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if courses.has_previous %}
                                <a href="?page=1">&laquo; 第一页</a>
                                <a href="?page={{ courses.previous_page_number }}">上一页</a>
                            {% endif %}

                            <span class="current">
                                第 {{ courses.number }} / {{ courses.paginator.num_pages }}页
                            </span>

                            {% if courses.has_next %}
                                <a href="?page={{ courses.next_page_number }}">下一页</a>
                                <a href="?page={{ courses.paginator.num_pages }}">末页 &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
{#                  <div id="submitDiv"><button class="btn btn-info" id="submit">确认选择</button></div>#}
                  <!-- 分页 -->
                  <div class="pageNav" id="pageNum">

                  </div>


                </div><!-- panel-body 结束 -->
              </div>
            </div><!-- panel 结束 -->
          </div><!-- panel-group 结束-->
        </div><!-- part1 结束 -->
      </div><!-- white 结束 -->
    </div><!-- main 结束 -->
  </div><!-- contain 结束 -->
   <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
   <script src="{% static 'bootstrap/js/jquery-3.1.1.min.js' %}"></script>
   <!-- 包括所有已编译的插件 -->
   <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/cookies.js' %}"></script>
   <script src="{% static 'js/courseResult.js' %}"></script>
</body>
</html>